
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 0px;
  margin: 0;

}

.button{
    height: 65px;
    width:165px;
    font-size: 23px;
    background-color: lightgreen;
}
.button2{
  height: 70px;
  width: 165px;
  font-size: 23px;
  background-color: lightgreen;
}

/* Style the header */
.header {
  background-color: darkgreen;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav {

  list-style: none;
  }

/* Change color on hover */
.topnav a:hover {
  background-color:lawngreen;
  color: black;
}


/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

button:hover{
    background:green; 
 
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }

  div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
div.gallery img {
  width: 100%;
  height: auto;
}


}